{% extends 'template.html' %}
{% block conteudo %}

    <form action="{{ url_for('atualizar') }}" method="POST">
        <div class="row mt-3">
            <div class="col-4">

                <figure class="img-thumbnail p-3">
                    <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo=capa_jogo) }}">
                    <figcaption>
                        <label class="fileContainer mt-2">
                            Mudar Capa
                            <input type="file" name="arquivo" accept=".jpg">
                        </label>
                    </figcaption>
                </figure>

            </div>
            <div class="col">

                <fieldset>
                    <input type="hidden" name="id" value="{{ jogo.id }}">
                    <div class="row">
                        <div class="form-group col">
                            <label for="nome">Nome</label>
                            <input type="text" id="nome" name="nome" class="form-control" value="{{ jogo.nome }}">
                        </div>
                        <div class="form-group col">
                            <label for="categoria">Categoria</label>
                            <input type="text" id="categoria" name="categoria" class="form-control" value="{{ jogo.categoria }}">
                        </div>
                        <div class="form-group col">
                            <label for="console">Console</label>
                            <input type="text" id="console" name="console" class="form-control" value="{{ jogo.console }}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-salvar mt-3 col-4 offset-4">Salvar</button>
                </fieldset>

            </div>
        </div>

    </form>

{% endblock %}